{% extends 'websiteapp/base.html' %}
{% block content %}
{% load static %}
<title>{% block title %}Contact Details{% endblock %}</title>


<section class="contact-details">
    <h2 class="heading"><i class='fas fa-address-book' style='font-size:36px'></i> Contact <span>Information</span></h2><br><br>

    <h2>Contact Information</h2>
    <ul>
        <li><strong>Email:</strong> moolasudhakarreddy8008@gmail.com</li>
        <li><strong>Phone:</strong> +91 XXXXXXXXXX</li>
        <li><strong>Address:</strong> 4-69, Keshavapuram(V), Mudumala (P), Brahamam Gari Mattam(M), Kadapa(D), Pin: 516503, India</li>
    </ul>
    <br><br>
    <h2>Connect on Social Media</h2>
    <ul>
        <li><a href="https://www.facebook.com/yourprofile" target="_blank">Facebook</a></li>
        <li><a href="https://www.instagram.com/yourprofile" target="_blank">Instagram</a></li>
        <li><a href="https://www.linkedin.com/in/yourprofile" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/yourprofile" target="_blank">GitHub</a></li>
    </ul>

    <div>
        <p>Feel free to reach out through email, phone, or social media. I'd love to connect with you!</p>

    </div>
</section>





{% endblock %}